<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG">

    <Appenders>
        <File name="SimpleFile" fileName="logs/app.log" immediateFlush="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name = "me.liheng.importchecker.CheckerRunner" level = "all" additivity = "false">
            <AppenderRef ref="SimpleFile"/>
        </Logger>

        <Logger name = "me.liheng.importchecker.MvnDependencyListRunner" level = "all" additivity = "false">
            <AppenderRef ref="SimpleFile"/>
        </Logger>

        <Logger name = "me.liheng.importchecker.JarDecompiler" level = "all" additivity = "false">
            <AppenderRef ref="SimpleFile"/>
        </Logger>

        <Logger name = "me.liheng.importchecker.ImportsResolver" level = "all" additivity = "false">
            <AppenderRef ref="SimpleFile"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="SimpleFile"/>
        </Root>
    </Loggers>

</Configuration>